.result-info-page--left {
	margin-bottom: 15px;
	text-align: center;
	padding: 15px;
	border: 1px solid #ddd;
	background: #fff;
}

.result-info-page--left img {
	width: 100%;
}

.labels {
	font-family: 'Lobster Two', cursive;
}

.label-top {
	font-size: 120%;
	display: block;
	margin-bottom: 5px;
}

.justify {
	text-align: justify;
}

.indent {
  padding: 10px;
  background: #eee;
}

.sections-imdb {
  padding: 10px;
  background: #f3dc59;
  color: #000;
}

.sections-imdb .indent {
	background: #333;
	color: #fff;
}

.sections {
	background: #fff;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
}

@media all and (min-width: 640px) {
	.result-info-page--top {
		display: flex;
		flex-direction: row;
		flex: 5;
	}

	.result-info-page--left {
		flex: 2;
	}

	.result-info-page--right {
		flex: 3;
		padding-left: 15px;
	}

}