.pager {
	margin-bottom: 15px;
}

.pager--item {
	display: inline-block;
	margin-right: 5px;
	padding: 5px;
  cursor: pointer;
  text-align: center;
}

.pager--item-active,
.pager--item:hover {
	background: #dd9933;
	color: #fff;
}

.pager--item-active {
	font-weight: bold;
}